@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

.auth-container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    margin: 100px auto;
}

h2 {
    margin-bottom: 20px;
    font-size: 22px;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

p {
    margin-bottom: 20px;
    color: #000;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.auth-form {
    width: 100%;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.submit-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #41AB92;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #027256;
}