.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    width: 80%;
    /* Увеличенная ширина */
    max-width: 800px;
    /* Максимальная ширина */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
}

.modal-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group-checkbox label {
    margin-left: 10px;
    font-weight: bold;
}

.error-message {
    color: red;
    margin-bottom: 10px;
    font-size: 14px;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.cancel-button,
.submit-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-button {
    background-color: #ccc;
    color: #000;
}

.submit-button {
    background-color: #41AB92;
    color: #fff;
}

.submit-button:disabled {
    background-color: #a5d6c2;
    cursor: not-allowed;
}