.table-container {
    padding: 20px;
    margin-top: 80px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    table-layout: auto;
}

th,
td {
    padding: 12px 15px;
}

th {
    background-color: #41AB92;
    color: white;
    font-weight: bold;
    border: 3px solid #ffffff;
}

tbody td {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

tbody tr:nth-child(even) {
    background-color: #ffffff;
}

tbody tr:hover {
    background-color: #ddd;
}

.low-mass-indicator {
    color: red;
    /* Цвет индикатора */
    margin-left: 5px;
    font-weight: bold;
}

.search-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
}

.search-input {
    padding: 8px 12px;
    width: 250px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}