.table-container {
    padding: 20px;
    margin-top: 105px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    table-layout: fixed;
}

th,
td {
    padding: 12px 15px;
}

th {
    background-color: #41AB92;
    color: white;
    font-weight: bold;
    border: 3px solid #ffffff;
}

tbody td {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

tbody tr:nth-child(even) {
    background-color: #ffffff;
}

tbody tr:hover {
    background-color: #ddd;
}